{% extends '__base__.html' %}

{% block content %}
    
    <div>
        <h4>Aplikacja Alfa Trader napisana zostala jako praca zaliczeniowa do kursu Full Stack Python Developer w CodersLab.
            Ze wzgledu na doswiadczenie autora projektu w finansach jak i wymagania co do aplikacji zostalo ustalone ze
            projektem najbardziej spelniajacym zarowno wymagania techniczne, wymagania egzaminacyjne jak i zainteresowania autora
            bedzie utworzenie aplikacji w formie gry symulujacej trading na gieldzie papierow wartosciowcyh.
            
            <p>Aplikacja bazuje na oficjalnych notowaniach akcji na gieldach GPW, NYSE i NASDAQ ktore sa przez nia zaciagane i przetwarzane
            po recznym zapisaniu ich w folderze aplikacji. Na podstawie zaimportowanych notowan aplikacja dla kazdej akcji tworzy
            wykres zmiany ceny pozwlalajacy na analize trendu a takze przewidywan co do dalszego kierunku ich zmiany.
            
            <p>Na podstawie wlasnych subiektywnej oceny na podstawie tych wykresow jak i informacji i raportow zewnetrznych odnosnie
            sytuacji finansowej firmie - uzytkownik/gracz podejmuje decyzje o zakupie/sprzedazy akcji.
            
            <p>Kazdy nowo zalogowany uzytkownik dysponuje kapitalem wstepnym na poziomie 10.000,00 USD ktore moze przeznaczyc na zakup
            wybranych akcji. Kazda transakcja zakupu lub sprzedazy obciazona jest kosztem transakcyjnym w wyskokosci 0.2%
            lecz minimum 10,00 USD. Gracz na podstawie wlasnych analiz dazy do jak najskuteczniejszego pomnozenia wlasnego kapitalu
            poprzez zakup akcji a nastepnie ich sprzedaz po wyzszej cenie.</h4>
    </div>
    
{% endblock %}