<!doctype html>
        <html>
            <head><meta charset="utf-8">
            <link rel="stylesheet" href="/../static/css/style.css">
            </head>
            <body>
<!--            {% load static %}-->
<!--            <div><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}" width="119" height="60" alt="My image" style="float:left">-->
<!--                <h1>Alfa Trader</h1></div>-->
<!--                <br>-->
<!--                <h2>Welcome to Alfa Trader</h2>-->
<!--                <h3>Begin and trade with stocks across variety of stock exchanges</h3>-->
<!--                <h4>S&P 500, NASDAC, NYSE, DAX, UK100, WIG140 all of that at your fingertips!</h4>-->
<!--            {% block content %}-->
<!--            {% endblock %}-->
                <header>
                  <div class="container">
                    <div class="logo"><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}"/> Alfa Trader</div>
                    <button class="btn" id="sign-up">Sign Up </button>
                    <button class="btn" id="sign-in">Sign In </button>
                  </div>
                </header>
            <section id="app" class="container">
                <h2>Welcome to Alfa Trader</h2>
                <h3>Begin and trade with stocks across variety of stock exchanges</h3>
                <h4>S&P 500, NASDAC, NYSE, DAX, UK100, WIG140 all of that at your fingertips!</h4>

            </body>
        </html>