{% extends '__base__.html' %}

{% load static %}

{% block content %}
    {% load static %}
        <header>
          <div class="container" id="{{ timestamp }}">
          <div class="logo"><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}"/> Alfa Trader</div>
            <p>{{ cash_balance }}</p>
              <p>Hello {{ request.user }}!</p>
          </div>
        </header>
       <div class="topnav">
           <div class="left-links">
                <a href="/../dashboard3">Transaction Dashboard</a>
                <a href="/../transactions">Transaction History</a>
                <a href="#">Portfolios</a>
           </div>
           <div class="right-links">
               <a href="/../logout/">Logout</a>
           </div>
       </div>
    
    <div class="dashboard-content">
        {% if error_message %}
            <div class="alert alert-warning">
                <p>{{ error_message }}</p>
                <form method="get" action="{% url 'dashboard3' %}">
                    <button type="submit" class="btn btn-primary" name="load_file" value="true">OK, I have saved down the file</button>
                </form>
            </div>
        {% else %}
            <form method="get" action="{% url 'dashboard3' %}">
                {% csrf_token %}
            <label for="exchange">Select stocks exchange:</label>
            <select id="exchange" name="exchange">
                <option value="">--Select exchange--</option>
                <option value="GPW">GPW</option>
                <option value="NYSE">NYSE</option>
                <option value="NASDAQ">NASDAQ</option>
            </select>
            <button type="submit">Pull quotes</button>
            </form>
        <p></p>
    
        <label for="search">Search by company name:</label>
        <input type="text" id="search" onkeyup="searchTable()" placeholder="Search for company names..">
    
        <table border = '1'>
            <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Close</th>
                        <th>Exchange</th>
                        <th>Quantity</th>
                        <th>Value</th>
                        <th>Fees</th>
                        <th>Total Cost</th>
                        <th>Action</th>
                    </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td><a href="{% url 'ticker_detail' stock.ticker %}">{{ stock.ticker }}</a></td>
                        <td>{{ stock.name }}</td>
                        <td>{{ stock.date }}</td>
                        <td>{{ stock.close }}</td>
                        <td>{{ stock.exchange }}</td>
                        <td><input type="number" class="quantity" data-close="{{ stock.close }}" min="1" step="1"></td>
                        <td><input type="text" class="value" value="0" readonly></td>
                        <td><input type="text" class="fees" value="0" readonly></td>
                        <td><input type="text" class="total" value="0" readonly></td>
                        <td><button class="buy-btn" data-id="{{ stock.ticker }}">Buy</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div class="pagination">
            {% if page.has_previous %}
                <a href="?date={{ request.GET.date }}&exchange={{ request.GET.exchange }}&page=1">&laquo; First</a>
                <a href="?date={{ request.GET.date }}&exchange={{ request.GET.exchange }}&{{ page.previous_page_number }}">Previous</a>
            {% endif %}
        
            <span>Page {{ page.number }} out of {{ page.paginator.num_pages }}</span>
        
            {% if page.has_next %}
                <a href="?date={{ request.GET.date }}&exchange={{ request.GET.exchange }}&page={{ page.next_page_number }}">Next</a>
                <a href="?date={{ request.GET.date }}&exchange={{ request.GET.exchange }}&page={{ page.paginator.num_pages }}">Last one &raquo;</a>
            {% endif %}
        </div>
    {% endif %}
    </div>
    
    <script src="{% static 'js/search.js' %}?v={{ timestamp }}"></script>
    

{% endblock %}















