{% extends '__base__.html' %}

{% block content %}

    <div>
        <h4>By przystapic do gry nalezy zaczac od utworzenia uzytkownika. Robimy to klikajac na przycisk Sign Up i podajac swoje
            dane. Po rejestracji uzytkownik jest automatycznie zalogowany i moze przystapic do gry.
            By zaczac trading nalezy kliknac na przycisk Transaction Dashboard ktory kazdego nowego dnia bedzie prosil i zapisanie ostatniego
            pliku z notowaniami w lokalizacji:
            >AlfaTrader/AlfaTrader_App/quotes/txt/

            <p>Po dokonaniu zapisu aplikacji poprosi o zatwierdzenie zapisu pliku poprzez nacisniecie przycisku "OK, I have saved down the file".
            Po jego klikniecu aplikacja zapisueje notowania do bazy danych umozliwiajac tworzenie wykresu zmiany ceny przez pryzmat
            uplywu czasu od rozpoczecia gry.

            <p>Aplikacja poprzez wejscie w szczegoly danej firmy wylistowanej na Transaction Deshboard pozwala wejsc w szczegoly umozliwiajace
            zakup i sprzedaz akcji.

            <p>Zakladka Transactions History umozliwia monitorowanie wykonanych transakcji a takze oplat przypisanych do tych transackji.

            <p>Celem monitorowania zyskownosci inwestycji obecna jest zakladka Portfolios umozliwiajace tworzenie portfeli juz posiadanych
            akcji ktore mozemy dopasowac do profilu ryzyka inwestycji, sektora firmy lub na podstawie innej subiektywnej oceny.

            <p>Kazdy portfel po przypisaniu do niego akcji pozwala na bazie dziennej na monitorowanie zyskownosci inwestycji
            pomagajacej w podejciu decyzji i sprzedazy posiadanych akcji.<h4>
    </div>
    
{% endblock %}