<!doctype html>
    <html>
        <head><meta charset="utf-8">
            <link rel="stylesheet" href="/../static/css/style2.css">
            <meta name="csrf-token" content="{{ csrf_token }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        </head>
        <body>
        {% load static %}
            <header>
              <div class="container" id="{{ timestamp }}">
              <div class="logo"><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}"/> Alfa Trader</div>
              <p>Hello {{ request.user }}!</p>
              </div>
            </header>
           <div class="topnav">
               <div class="left-links">
                    <a href="#">Transaction Dashboard</a>
                    <a href="#">Transaction History</a>
                    <a href="#">Portfolios</a>
               </div>
               <div class="right-links">
                   <a href="#">Sign Up</a>
                   <a href="#">Sign In</a>
               </div>
               
           </div>
            <div>
                <h2>Welcome to Alfa Trader</h2>
                <h3>Begin and trade with stocks across variety of stock exchanges</h3>
                <h4>S&P 500, NASDAC, NYSE, DAX, UK100, WIG140 all of that at your fingertips!</h4>
            </div>
        
        <footer>
            <section class="footer" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Market News</h3>
                            <h6>Stooq</h6>
                            <h6>Yahoo Finance</h6>
                            <h6>Bloomberg</h6>
                        </div>
                        <div class="col">
                            <h3>Alfa Trader</h3>
                            <h6>About the App</h6>
                            <h6>How to begin</h6>
                        </div>
                        <div class="col">
                            <h3>All about investing</h3>
                            <h6>What are the stocks</h6>
                            <h6>How to trade</h6>
                        </div>
                        <div class="col">
                            <h3>Contact</h3>
                            <h6>About the author</h6>
                            <h6>Contact details</h6>
                        </div>
                        <div class="col">
                            <h3>Social media</h3>
                            <a href ="https://www.facebook.com/marcus.troh" target="_blank" class="social-link">
                                <i class="fab fa-facebook-f"> Marcin Trochimiuk on Facebook</i>
                            </a>
                            <a href="https://www.instagram.com/marcus.troh" target="blank" class="social-link">
                                <i class="fab fa-instagram"> Marcin Trochimiuk on Instagram</i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </section>        
        </footer>
        </body>
    </html>