{% extends '__base__.html' %}

{% block content %}
    {% load static %}
        <header>
          <div class="container" id="{{ timestamp }}">
          <div class="logo"><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}"/> Alfa Trader</div>
          </div>
        </header>
       <div class="topnav">
           <div class="left-links">
                <a href="#">Transaction Dashboard</a>
                <a href="#">Transaction History</a>
                <a href="#">Portfolios</a>
           </div>
           <div class="right-links">
               <a href="/../register/">Sign Up</a>
               <a href="/../login/">Sign In</a>
           </div>
           
       </div>
        <div>
            <h2>Welcome to Alfa Trader</h2>
            <h3>Begin and trade with stocks across variety of stock exchanges</h3>
            <h4>S&P 500, NASDAC, NYSE, DAX, UK100, WIG140 all of that at your fingertips!</h4>
        </div>
    
{% endblock %}