{% extends '__base__.html' %}

{% load static %}

{% block content %}
    <header>
          <div class="container" id="{{ timestamp }}">
          <div class="logo"><img src="{% static 'AlfaTrader_App/intro_alfa.jpg' %}"/> Alfa Trader</div>
            <p>{{ cash_balance }}</p>
              <p>Hello {{ request.user }}!</p>
          </div>
        </header>
       <div class="topnav">
           <div class="left-links">
                <a href="/../dashboard3">Transaction Dashboard</a>
                <a href="/../transactions">Transaction History</a>
                <a href="#">Portfolios</a>
           </div>
           <div class="right-links">
               <a href="/../logout/">Logout</a>
           </div>
       </div>
        
    <h3>Price Change for {{ ticker }}:</h3>
    <div class="container-2">
        
        <div>
            {{ graph_html|safe }}
        </div>
    </div>
    <h2>Details for {{ ticker }}</h2>
    <div class="container-3">
        <div>
            <h3>Buy Shares</h3>
            <table>
                <tr>
                    <td>Close Price:</td>
                    <td>{{ close_price }}</td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="number" class="quantity_buy" id="quantity_buy" data-close="{{ close_price }}" min="1" step="1" required></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" class="value_buy" value="0" readonly></td>
                </tr>
                <tr>
                    <td>Fee:</td>
                    <td><input type="text" class="fee_buy" value="0" readonly></td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td><input type="text" class="total_buy" value="0" readonly></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn buy" data-id="{{ ticker }}">BUY</button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Sell Shares</h3>
            <table class="sell-table">
                <tr>
                    <td>Close price:</td>
                    <td><input type="text" class="close_price_sell" value="{{ close_price }}" readonly></td>
                </tr>
                <tr>
                    <td>Weighted avg cost price</td>
                    <td><input type="text" class="cost_price" data-cost-price="{{ weighted_avg_cost_price }}" value="{{ weighted_avg_cost_price }}" readonly></td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="number" class="quantity_sell" id="quantity_sell" data-id="{{ ticker }} data-cost-price="{{ weighted_avg_cost_price }}" data-close="{{ close_price }}" name="quantity_sell" min="1" step="1" required></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><input type="text" class="value_sell" value="0" readonly></td>
                </tr>
                <tr>
                    <td>Fee:</td>
                    <td><input type="text" class="fees_sell" value="0" readonly></td>
                </tr>
                <tr>
                    <td>Total:</td>
                    <td><input type="text" class="total_sell" value="0" readonly></td>
                </tr>
                <tr>
                    <td>Profit/Loss:</td>
                    <td><input type="text" class="profit-loss" value="0" readonly></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn sell" data-id="{{ ticker }}">SELL</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
{#        <div class="row">#}
{#            <div class="col">#}
{#                <h3>Buy Shares</h3>#}
{#                <form method="post" action="{% url 'buy_transaction' %}">#}
{#                    {% csrf_token %}#}
{#                    <label for="price">Close price: {{ close_price }}</label>#}
{#                    <br>#}
{#                    <label for="quantity_buy">Quantity:</label>#}
{#                    <input type="number" class="quantity_buy" id="quantity_buy" data-close="{{ close_price }}" min="1" step="1" required>#}
{#                    <br>#}
{#                    <label for="value_buy">Value:</label>#}
{#                    <input type="text" class="value_buy" value="0" readonly>#}
{#                    <br>#}
{#                    <label for="fee_buy">Fee:</label>#}
{#                    <input type="text" class="fee_buy" value="0" readonly>#}
{#                    <br>#}
{#                    <label for="total_buy">Total:</label>#}
{#                    <input type="text" class="total_buy" value="0" readonly>#}
{#                    #}
{#                    <button class="btn btn-primary buy" data-id="{{ ticker }}">BUY</button>#}
{#                </form>#}
{#            </div>#}
{#            #}
{#            <div class="col">#}
{#                <h3>Sell Shares</h3>#}
{#                <form method="post" action="{% url 'sell_transaction' %}">#}
{#                    {% csrf_token %}#}
{#                    <label for="value">Close price: {{ close_price }}</label>#}
{#                    <br>#}
{#                    <label for="value">Weighted avg cost price: {{ weighted_avg_cost_price }}</label>#}
{#                    <br>#}
{#                    <label for="quantity_sell">Quantity</label>#}
{#                    <input type="number" id="quantity_sell" name="quantity_sell" value="{{ total_quantity }}" min="1" step="1" required>#}
{#                    <br>#}
{#                    <label for="value_sell">Value:</label>#}
{#                    <input type="text" class="value" value="0" readonly>#}
{#                    <br>#}
{#                    <label for="fee_sell">Fee:</label>#}
{#                    <input type="text" class="fees" value="0" readonly>#}
{#                    <br>#}
{#                    <label for="total_sell">Total:</label>#}
{#                    <input type="text" class="total" value="0" readonly>#}
{#                    #}
{#                    <button type="submit" class="btn">SELL</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
    <h2>Transactions</h2>
    <div class="container-2">
            
            <table border="1">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Ticker</th>
                        <th>Quantity</th>
                        <th>Transaction Type</th>
                        <th>Value</th>
                        <th>Close Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.ticker }}</td>
                        <td>{{ transaction.quantity }}</td>
                        <td>{{ transaction.get_transaction_type_display }}</td>
                        <td>{{ transaction.value }}</td>
                        <td>{{ transaction.close_price }}</td>
                        <td>{{ transaction.date }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6">No transactions found.</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
    </div>
    <script>
        // Pobranie tokenu CSRF z meta tagu
        var csrftoken = document.querySelector('[name=csrf-token]').getAttribute('content');

    </script>
    <script src="{% static 'js/transaction_execution.js' %}?v={{ timestamp }}"></script>
    <script src="{% static 'js/transaction_execution_sell.js' %}?v={{ timestamp }}"></script>
    
{% endblock %}














